---
import Contact from "./Contact/Contact.astro";
import CoverageArea from "./CoverageArea/CoverageArea.astro";
import Footer from "./Footer/Footer.astro";
import HeroSection from "./HeroSection/HeroSection.astro";
---


<div id="container">
	<HeroSection/>
	<Contact/>
	<CoverageArea/>
	<Footer/>
</div>

