---
import Contact from "./Contact/Contact.astro";
import CoverageArea from "./CoverageArea/CoverageArea.astro";
import Footer from "./Footer/Footer.astro";
import HeroSection from "./HeroSection/HeroSection.astro";
import Navbar from "./Navbar/Navbar.astro";
import OurHistory from "./OurHistory/OurHistory.astro";
import OurJob from "./OurJob/OurJob.astro";
import Products from "./Products/Products.astro";
import OurTeam from "./Team/OurTeam.astro";
---



<div id="container">
	<Navbar/>
	<HeroSection/>
	<OurHistory/>
	<OurTeam/>
	<OurJob/>
	<Products/>
	<Contact/>
	<CoverageArea/>
	<Footer/>
</div>

