:root {
  /*Body*/
  --body-bg: #ffff;
  /*Titles*/
  --black: #121213;
  /*Text*/
  --text-color: #4b5563;
  /*Font*/
  --font-family-base: "Inter", sans-serif;
  /*Hover effects*/
  --hover-font: #e5b513;
  /*btn-color*/
  --btn-primary-color:#e5b513;
  /*red color*/
  --red: red;
  --btn-color: linear-gradient(90deg, rgba(250, 186, 10, 1) 0%, rgba(255, 221, 0, 1) 50%, rgba(250, 186, 10, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family-base);
  background-color: var(--body-bg);

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

h1,
h2,
h3,
h4,
h4 {
  color: var(--black);
}
p,
span {
  color: var(--text-color);
}
